/Binaries/*
/Intermediate/*
/Plugins/AUDIO_SFX_PLUGIN/Binaries/*
/Plugins/AUDIO_SFX_PLUGIN/Intermediate/*

# Prerequisites
*.d
.vs/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dll

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
