/Binaries/*
/Intermediate/*
/RTX_DX12_Viewport/bin/*
/RTX_DX12_Viewport/intermediate/*
/Tools/wn3.1/*
/.vs/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dll

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
